*{
font-family: 'Poppins', sans-serif;
}
/* Desktop Version */
@media (min-width: 992px) { 
.headline{
  text-align: left !important;
}
  /* Navbar */
.bg-light{
  background-color: #fff !important;
  box-shadow: 0 8px 8px -8px rgba(0,0,0,.2);
}
.navbar-brand{
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
}
.nav-item a:hover{
  border-bottom: 2px solid #E5383B;
}
#produk a{
  border-bottom: 2px solid #E5383B;
}
.navbar-nav li{
  font-weight: 600;
}
.menu{
  padding-left: 150px;
}
/* Content Product */
.detail-product{
  margin-top: 70px;
}
#title{
  font-size: 2em;
}
#plastisol{
    background: #E5383B;
    border: none;
     color: white;  
}
#rubber{
   background: #E5383B;
    border: none;
     color: white;
}
.dropdown-item{
background: none !important;
}
 button {
  background: none;
  border: none;
  padding: 10px 20px;
  border-radius: 9px;
}
button:hover{
  background-color:  #E5383B;
  color: white;
}


/* button:active{
    background: #E5383B;
    border: none;
     color: white;
} */


button:focus{
    background: #E5383B;
    outline: none;
     color: white;
}
.prisma{
  background: none;
  border: none;
  padding: 10px 20px;
  border-radius: 9px;
}
.prisma:hover{
  background-color:  #E5383B;
  color: white;
}

/* katalog */
.card{
  border-radius: 22px;
  box-shadow: 4px 4px 16px rgba(0,0,0,0.3);
}
  .card img{
    border-radius: 22px;
  }
.card-text{
  font-size: 1em;
}
/* Footer */
 .my-footer{
  background-color: #5D6061;
 }
 .footer-content{
    margin-left: 120px;
    margin-right: 120px;
    /* margin-bottom: ; */
    padding-top: 60px;
    padding-bottom: 40px;
  }
   .sosmed i{
    font-size: 1.8em;
    color: white;
  }
  .sosmed{
    padding-left: 70px;
  }
  .qlink{
    padding-left: 100px;
  }
  .copy-right{
    background-color: #BA181B;
  }
 



}

/* Tablet Version */
@media (min-width: 667px) and (max-width: 991px) { 
   /* Navbar */
.bg-light{
  background-color: #fff !important;
  box-shadow: 0 8px 8px -8px rgba(0,0,0,.2);
}
.navbar-brand{
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
}
.navbar-nav li{
  font-weight: 600;
}
/* Content Contact */
.detail-product{
  margin-top: 70px;
}
#title{
  font-size: 1.5em;
}
.my-gallery{
  margin-top: 70px;
}
#plastisol{
    background: #E5383B;
    border: none;
     color: white;
}
 button {
  background: none;
  border: none;
  padding: 10px 20px;
  border-radius: 9px;
}
button:hover{
  background-color:  #E5383B;
  color: white;
}
button:focus{
    background: #E5383B;
    outline: none;
     color: white;
}
.prisma{
  background: none;
  border: none;
  padding: 10px 20px;
  border-radius: 9px;
}
.prisma:hover{
  background-color:  #E5383B;
  color: white;
}
 .card{
    border-radius: 22px;
    box-shadow: 4px 4px 16px rgba(0,0,0,0.3);
  }
    .card img{
      border-radius: 22px;
    }
  .card-text{
    font-size: 1em;
  }
  /* Footer */
 .my-footer{
  background-color: #5D6061;
 }
 .footer-content{
    margin-left: 50px;
    /* margin-bottom: ; */
    padding-top: 60px;
    padding-bottom: 40px;
  }
   .sosmed i{
    font-size: 1.8em;
    color: white;
  }
  .sosmed{
    padding-left: 20px;
  }
  .qlink{
    padding-left: 70px;
  }
  .copy-right{
    background-color: #BA181B;
  }

}





/* Mobile Version */
 @media (min-width: 375px) and (max-width: 667px) {
   /* Navbar */
.bg-light{
  background-color: #fff !important;
  box-shadow: 0 8px 8px -8px rgba(0,0,0,.2);
}
.navbar-brand{
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
}
.navbar-nav li{
  font-weight: 600;
}

/* Content contact */
.detail-product{
  margin-top: 70px;
}
#title{
  font-size: 1.5em;
}
#plastisol{
    background: #E5383B;
    border: none;
     color: white;
}
 button {
  background: none;
  border: none;
  padding: 10px 20px;
  border-radius: 9px;
}
button:hover{
  background-color:  #E5383B;
  color: white;
}
button:focus{
    background: #E5383B;
    outline: none;
     color: white;
}
.prisma{
  background: none;
  border: none;
  padding: 10px 20px;
  border-radius: 9px;
}
.prisma:hover{
  background-color:  #E5383B;
  color: white;
}   
 .card{
    border-radius: 22px;
    box-shadow: 4px 4px 16px rgba(0,0,0,0.3);
  }
    .card img{
      border-radius: 22px;
    }
  .card-text{
    font-size: 1em;
  }
  /* Footer */
 .my-footer{
  background-color: #5D6061;
 }
 .sosmed i{
    font-size: 2em;
    color: white;
  }
  .copy-right{
    background-color: #BA181B;
  }
}